body{
text-align: justify;
background-repeat:repeat;
margin:0;
padding:0;
background-image:url(../images/body.png);	
}

#header p{
height:85px;
padding:22px 30px 0 0;	
margin:0 auto;	
font:35px Comic Sans MS;
background-image:url(../images/zag.jpg);
color:#111111;
}

#menu{
background-color:#DFE0E0;
margin:0 auto;
}

#content{
margin:0 auto 30px auto;	
width:1150px;
background-image:url(../images/content.png);
padding:0 20px 0 20px;
}

#footer{
height:50px;
background-color:#111111;
color:#FFFFFF;
padding:15px 15px 0 15px;
font:14px Verdana sans-serif;
position:relative;
bottom:0;
}

.clear{
clear:both;	
}

.kn{
padding:0 10px 10px 20px;	
}

.kn1{
padding:0 30px 10px 12px;	
}

.cv{
font-style:italic;	
}

.bd{
font:16px Palatino,serif,sans-serif;
font-style:italic;
font-weight:bold;
}

h1{
text-align:center;
margin-bottom:5px;
}

p{
font: 14px Verdana,"Times New Roman",sans-serif;
text-indent:30px;	
text-align:justify;
line-height:25px;
padding:2px 0 2px 0;
margin:0 0 3px 0;
}

h3{
font:20px Verdana,"Times New Roman",sans-serif;	
font-weight:bold;
margin:10px 0 5px 0;
}

a{
text-decoration:none;	
}

ul.sk li{
list-style:inside url(../images/arrow.png);
font:14px Verdana,"Times New Roman",sans-serif;
line-height:25px;
margin-left:20px;
}

.sk{
line-height:25px;
margin:0 0 3px 0;		
}

.img{
text-align:center;	
}

.no{
text-align:center;	
}

.bold{
font-weight:bold;	
}

.video{
text-align:center;
margin:20px 0 0 0;
}

table, td, th{
border:1px solid #111111;
}

table{
width:800px;
border-collapse:collapse;
margin:20px auto;
}

td, th{
height:30px;
padding:5px;
vertical-align:middle;	
}

th{
text-align:center;
background-color:#FFDB00;	
}

td{
background-color:#FFFF82;	
}


.dws-menu *{
 margin: 0;
 padding: 0;
}
.dws-menu ul,
.dws-menu ol{
 list-style: none;
}
.dws-menu > ul{
 display: flex;
 justify-content: center;
}
.dws-menu > ul li{
 position: relative;
 border-right: 1px solid #c7c8ca;
}
.dws-menu > ul li:first-child{
 border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
 border-right: 1px solid #babbbd;
}
.dws-menu > ul li > a i.fa{
 position: absolute;
 top: 15px;
 left: 12px;
 font-size: 18px;
}
.dws-menu > ul li a{
 display: block;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
 background: rgb(201,201,201); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
 background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

 padding: 15px 30px 15px 40px;
 font-size: 14px;
 color: #454547;
 text-decoration: none;
 text-transform:uppercase;
 transition: all 0.3s ease;
}
.dws-menu li a:hover{
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
 background: rgb(224,225,229); /* Old browsers */
 background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 **/
 background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
 background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */


 color: #ffffff;
 box-shadow: 1px 5px 10px -5px black;
 transition: all 0.3s ease;
}

/*sub menu*/
.dws-menu li ul{
 position: absolute;
 min-width: 150px;
 display: none;
}
.dws-menu li > ul li{
 border: 1px solid #c7c8ca;
}
.dws-menu li > ul li a{
 padding: 10px;
 text-transform: none;
 background: #e4e4e5;
}
.dws-menu li > ul li ul{
 position: absolute;
 right: -150px;
 top: 0;
}
.dws-menu li:hover > ul{
 display: block;
}

.fig1{
float: right; /* Выравнивание по правому краю */
border: 1px solid #333; /* Параметры рамки */
padding:10px 30px 7px 10px; /* Поля внутри блока */
margin: 0 5px 0 15px; /* Отступы вокруг */
background: #f0f0f0; /* Цвет фона */ 
}
.fig1 figcaption{
margin: 0 0 0 140px; /* Отступы вокруг абзаца */
}

.fig2{
float: right; /* Выравнивание по правому краю */
border: 1px solid #333; /* Параметры рамки */
padding: 10px 30px 7px 10px; /* Поля внутри блока */
margin: 0 5px 0 15px; /* Отступы вокруг */
background: #f0f0f0; /* Цвет фона */ 
}
.fig2 figcaption{
margin: 0 0 0 9px; /* Отступы вокруг абзаца */
}

.fig3{
float: right; /* Выравнивание по правому краю */
border: 1px solid #333; /* Параметры рамки */
padding: 10px 30px 7px 0; /* Поля внутри блока */
margin: 0 5px 0 15px; /* Отступы вокруг */
background: #f0f0f0; /* Цвет фона */ 
}
.fig3 figcaption{
margin: 10px 0 5px 175px; /* Отступы вокруг абзаца */
}

.fig4{
float: right; /* Выравнивание по правому краю */
border: 1px solid #333; /* Параметры рамки */
padding: 20px 20px 7px 20px; /* Поля внутри блока */
margin: 15px 5px 0 15px; /* Отступы вокруг */
background: #f0f0f0; /* Цвет фона */
}
.fig4 figcaption {
margin: 10px 0 5px 130px; /* Отступы вокруг абзаца */
}